span.capital {
    float: left;
    background-color: pink;
    color: red;
    font-family: monospace;
    font-size: 400%;
}

div {
    border: black 3px solid;
    overflow: auto;
}

img {
    float: left;
}